
form label {  display: inline-block;  width: 170px;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 20px;s
}
body {
	margin: 0px auto;
	padding: 0px;
	background-color: rgb(229,243,247);
	width: 90%;
}

#container {
	width: 100%;
	
	margin-bottom:0px; 
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	
	background-color: rgb(229,243,247);
	background-position: top left;
	background-repeat: repeat-y;
	
	border-radius: 5px 5px 5px 5px;      
	-moz-border-radius: 5px 5px 5px 5px;  
	-webkit-border-radius: 5px 5px 5px 5px;  
	border: 1px solid rgba(192,192,192,0.3);
}